*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container{
    background: black;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    padding: 20px 0;

}
.logo{
    width: 40px;
}
ul li{
    display: inline-block;
    color: aqua;
}
ul li a{
    color: azure;
    text-decoration: none;
    margin: 0 10px;

}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;

}
.content .text{
    width: 40%;
    color: #fff;

}
.content .text h2 {
    font-size: 40px;
    text-transform: uppercase;
    
}
.content .text p{
    font-size: 18px;
    margin: 20px 0;
    

}
.content .text a{
    color: #000;
    text-decoration: none;
    background: #fff;
padding: 8px 15px;
border-radius: 20px;

}
.content .imge{
width: 30px;
}
.content .imge img{
    width: 180px;
}
.icons{
    position: absolute;
    bottom: 0;
    left: 50%;
   transform: translateX(-50%);
}
.icons img{
    width: 50px;
    transition: 0.5s;
    cursor: pointer;

}
.icons img:hover{
    transform: scale(1,1.5);
}